body, html, div, h1, h2, h3, h4, h5, p, li, ul {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}

@-webkit-keyframes navigation-unread {
	0%   { opacity: 0; }
	10%   { opacity: 1; }
	90%   { opacity: 1; }
	100% { opacity: 0; }
}

/* Switch element styles ----------- */


/* Switch element inverted styles ----------- */

.inverted .switch-container > label {
	color:#ecf0f1;
}

.inverted .switch {
	background: #8e44ad;
}

.inverted .switch-left:after {
	background: #8e44ad;
}

.inverted .switch-left {
	background: #ecf0f1;
	color: #8e44ad;
}

.inverted .switch-off .switch-left:after { /*After Right*/
	background: #ecf0f1;
}

.inverted .switch-off .switch-left {
	background: #2c3e50;
}

.inverted .switch-on .switch-right {
	background: #8e44ad;
}

.inverted .switch-on .switch-right:after { /*After Right*/
	background: #bdc3c7;
}

.inverted .switch-right {
	background: #2c3e50;
	color: #ecf0f1;
}

/* Switch element classic styles ----------- */

.switch-container {
	display: inline-block;
	height: 30px;
}

.switch-container > label.right {
	padding: 0 0 0 10px;
	float: right;
}

.switch-container > label {
	color: #2c3e50;
	line-height: 30px;
	padding: 0 10px 0 0;
	float: left;
	text-align: left;
}

.switch {
	text-align:center;
	height: 30px;
	width: 70px;
	display: inline-block;
	overflow: hidden;
	border-radius: 15px;
	position: relative;
}


.switch > div {
	height: 30px;
	width: 100%;
	cursor: pointer;
	border-radius: 15px;
	overflow: hidden;
}

.switch-off .switch-right {
	left: 0px;
}
.switch-on .switch-right {
	left:40px;
	background: #ecf0f1;
	color: #ecf0f1;
}

.switch-off .switch-left {
	left: -40px;
	background: #bdc3c7;
	color: #fff;
}

.switch-on .switch-left {
	left:0;
}

.switch-left:after, .switch-right:after {
	content:"";
	width: 20px;
	height: 20px;
	border-radius: 10px;
	display: inline-block;
	margin: 5px;
}

.switch-left:after {
	background: #ecf0f1;
	float: right;
	margin-left: -5px;
}

.switch-off .switch-left:after {
	background: #7f8c8d;
}

.switch-right:after { 
	float: left;
	margin-right: -5px;
}

.switch-left, .switch-right {
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	width: 100%;
	position: absolute;
	top:0px;
	height: 30px;
	border-radius: 15px;
	display: inline-block;
	line-height: 30px;
   
} 

.switch-left{
	background: #9b59b6;
	color: #ecf0f1;
	z-index: 20;
}

.switch-right{
	color: #fff;
	background: #bdc3c7;
	z-index: 10;
}

.switch input[type="checkbox"] {
	display: none;
}

/* Arrow element styles ----------- */

/* Arrow element inverted styles ----------- */

.inverted .down-arrow {
	background: #ecf0f1;
}

.inverted .down-arrow .arrow-down:before {
	border-top-color: #ecf0f1;
}

.inverted .down-arrow .arrow-down {
	border-top-color: #8e44ad;
}

.inverted .down-arrow:after,.inverted .down-arrow:before {
	border-top-color: #ecf0f1;
}

	/* Hover Styles */
.inverted .down-arrow:hover {background: #fff;} 
.inverted .down-arrow:hover .arrow-down:before,.inverted .down-arrow:hover:after,.inverted .down-arrow:hover:before  {border-top-color: #fff;}

/* Arrow element classic styles ----------- */

.down-arrow {
	width: 50px;
	height: 50px;
	position: relative;
	display: inline-block;
	background: #9b59b6;
	border-radius: 50%;
	cursor: pointer;
}

.down-arrow:hover {background: #8e44ad;} 
.down-arrow:hover .arrow-down:before,.down-arrow:hover:after,.down-arrow:hover:before  {border-top-color: #8e44ad;}

.down-arrow:before,.down-arrow:after {
	content: "";
	width: 0; 
	height: 0; 
	top: 16px;
	left: 4px;
	z-index: 1;
	position:absolute;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #9b59b6;
}

.down-arrow:after {
	left: 34px;
}


.down-arrow .arrow-down, .down-arrow .arrow-down:before  {
	width: 0; 
	height: 0; 
	top: 16px;
	left: 5px;
	position:absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #ecf0f1;
}

.down-arrow .arrow-down:before {
	content: "";
	top: -20px;
	left:-10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #9b59b6;
}

.scroller-content .down-arrow-wrap {
	position: absolute;
	right: 50px;
	bottom: 50px;
}
/* Arrow Up element styles ----------- */

/* Arrow element inverted styles ----------- */

.inverted .up-arrow {
	background: #ecf0f1;
}

.inverted .up-arrow .arrow-up:before {
	border-bottom-color: #ecf0f1;
}

.inverted .up-arrow .arrow-up {
	border-bottom-color: #8e44ad;
}

.inverted .up-arrow:after,.inverted .up-arrow:before {
	border-bottom-color: #ecf0f1;
}

	/* Hover Styles */
.inverted .up-arrow:hover {background: #fff;} 
.inverted .up-arrow:hover .arrow-up:before,.inverted .up-arrow:hover:after,.inverted .up-arrow:hover:before  {border-bottom-color: #fff;}


/* Arrow element classic styles ----------- */

.up-arrow {
	width: 50px;
	height: 50px;
	position: relative;
	display: inline-block;
	background: #9b59b6;
	border-radius: 50%;
	cursor: pointer;
}

.up-arrow:hover {background: #8e44ad;} 
.up-arrow:hover .arrow-up:before,.up-arrow:hover:after,.up-arrow:hover:before  {border-bottom-color: #8e44ad;}

.up-arrow:before,.up-arrow:after {
	content: "";
	width: 0; 
	height: 0; 
	bottom: 16px;
	left: 4px;
	z-index: 1;
	position:absolute;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #9b59b6;
}

.up-arrow:after {
	left: 34px;
}


.up-arrow .arrow-up, .up-arrow .arrow-up:before  {
	width: 0; 
	height: 0; 
	bottom: 16px;
	left: 5px;
	position:absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #ecf0f1;
}

.up-arrow .arrow-up:before {
	content: "";
	bottom: -20px;
	left:-10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #9b59b6;
}

.scroller-content .up-arrow-wrap {
	position: absolute;
	right: 50px;
	top: 50px;
}


/* Input element styles ----------- */

/*      
<div class="input-group">
	<label for="username"></label>
	<input type="text" class="input has-label text" placeholder="Username">
</div>
*

/* Input Text Inverted element styles ----------- */

.inverted .input-group input.text {
	background: #ecf0f1;
	border-color: rgba(155, 89, 182, 1); /* #ecf0f1; */
}

/* Input Text Classic element styles ----------- */
.input-group input.text {
	-webkit-transition:all 0.1s linear;
	transition:all 0.1s linear;
	height:35px;
	width:250px;
	text-indent: 10px;
	border-radius:10px;
	padding:0;
	margin:0;
	border-width: 3px;
	border-style: solid;
	font-size: 14px;
}

.input-group {
	padding-top: 10px;
}

.input-group input:focus {outline: none;}


.input-group input.text {
	-webkit-transition:border-color 0.1s linear;
	transition:border-color 0.1s linear;
	height:35px;
	width:250px;
	text-indent: 10px;
	border-radius:10px;
	padding:0;
	margin:0;
	border-width: 3px;
	border-style: solid;
}

/* Button Text Inverted element styles ----------- */
/*.inverted .input-group button.input.normal:focus {border-color: rgba(155, 89, 182, 1)} #9b59b6; */

.inverted .input-group button.input.normal:hover, .inverted .input-group button.input.normal:focus, .inverted .input-group button.input.normal.focus {border-color: #bdc3c7;color:#bdc3c7;background:#34495e;cursor: pointer;} /* #9b59b6; */

.inverted .input-group button.input.normal {
	background: #2c3e50;
	border-color: #34495e; /* #ecf0f1; */
	color:#ecf0f1;
}

/* Button Classic element styles ----------- */

.input-group {
	padding-top: 10px;
	clear: both;
}

.input-group button:focus {outline: none;}


.input-group button.input.normal {
	-webkit-transition:border-color 0.1s linear;
	transition:border-color 0.1s linear;
	height: 45px;
	width:250px;
	border-radius:10px;
	font-size: 16px;
	padding:0;
	margin:0;
	border-width: 3px;
	border-style: solid;
	text-align: center;
}

/* File Input Text classic element styles ----------- */

.input-group.file {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}

.input-group.file label .fa{
	color: #9b59b6; 
}

.input-group.file label:hover .fa{
	color: #8e44ad; 
}

.input-group.file label {
  color: #2c3e50;
  font-weight: bold;
  text-align: left;
  text-indent: 56px;
  font-size: 16px;
  display: block;
  padding-right: 20px;
  line-height: 40px;
  height: 40px;
  transition: all .4s;  
  background: #ecf0f1; 
  background-size: 30px;
  border-color: #34495e;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  cursor: pointer;
}
.input-group.file input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  align-items: inherit;
  top: 0;
  opacity: 0.01;
  cursor: pointer;
}

.input-group.file input:hover + label,
.input-group.file input:focus + label {
  background: #34495E;
  color: #39D2B4;
}


/* Form Inverted element styles ----------- */
form.padded-vertical > a:hover {color: #bdc3c7;}
form.padded-vertical > a {color: #ecf0f1;}

/* Form element styles ----------- */
form.padded-vertical {
	padding: 50px 0;
}

form.padded-vertical > a {
	padding-top: 10px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	display: block;
}


form.styled input::-webkit-input-placeholder {
   color: #95a5a6;
}

form.styled input:-moz-placeholder { /* Firefox 18- */
   color: #95a5a6;  
}

form.styled input::-moz-placeholder {  /* Firefox 19+ */
   color: #95a5a6;  
}

form.styled input:-ms-input-placeholder {  
   color: #95a5a6;  
}

/* Navigation element styles ----------- */

.navigation {
	width: 100%;
	padding-bottom: 25px;
}

.navigation-bar {
	display: table;
	float: left;
}

.navigation-bar.right {
	display: table;
	float: right;
}

.navigation .container {
	background: rgba(52, 73, 94, 0.985);
	border-radius: 6px;
	display: table;
}

.navigation ul.navigation-bar > li {
	float:left;
	list-style:none;
	position: relative;
	display: table;
}

.navigation ul.navigation-bar > li:first-child > a {
	border-radius: 6px 0 0 6px;
}


.navigation ul.navigation-bar.right > li:first-child > a {
	border-radius: 0 6px 6px 0;
}

.navigation ul.navigation-bar.right > li > a {
	border-right: 2px solid #2c3e50;
}

.navigation ul.navigation-bar > li > a {
	color:#fff;
	font-weight: 700;
	padding: 13px 21px 13px;
	text-decoration:none;
	display: inline-block;
	border-bottom: 2px solid #2c3e50;
	border-left: 2px solid #2c3e50;
}

.navigation ul.navigation-bar li a span.navigation-unread {
	width: 6px;
	height: 6px;
	overflow: hidden;
	border-radius: 7px;
	display: inline-block;
	background: #9b59b6;
	color: #9b59b6;
	position: absolute;
	top: 1px;
	right: -8px;
	-webkit-animation: navigation-unread 10s infinite;
}

.navigation ul.navigation-bar > li > a > span.navigation-unread {
	position: relative;
	top: -10px;
	right: -2px;
}

.navigation ul.navigation-bar > li:hover > a > span.navigation-unread {
	color: #fff;
	background: #fff;
}

.navigation ul.navigation-bar li.active a span.navigation-unread {
	display: none;
}

.inverted .navigation ul.navigation-bar > li.active > a {
	 border-bottom: none;
	 padding-bottom: 14px;
	 padding-top: 14px;
}

.navigation ul.navigation-bar > li.active > a {
	background: #9b59b6;
	border-bottom-color: #8e44ad;
}

.navigation ul.navigation-bar > li > ul {
	display: none;
	position: absolute;
	padding-top: 10px;
}

.navigation ul.navigation-bar > li > ul:before {
	content: "";
	width: 0; 
	height: 0; 
	top: 2px;
	left: 29%;
	z-index: 1;
	position:absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgba(52, 73, 94, 0.985);
}

.navigation ul.navigation-bar.right > li > ul:before {
	left: 71%;
}

.navigation ul.navigation-bar a:hover {
	color:#9b59b6;
	-webkit-transition:color 0.1s ease;
	transition:color 0.1s ease;
}

.navigation ul.navigation-bar > li > a:hover > span.navigation-unread {
	color:#9b59b6;
	background:#9b59b6;
}

.navigation.aside .container ul.navigation-bar > li > ul > li > a:hover {
	color:#9b59b6;
	-webkit-transition:color 0.1s ease;
	transition:color 0.1s ease;
}

.navigation ul.navigation-bar li.active > a:hover {
	color:#fff;
}

/* Navigation Aside element styles ----------- */

/*.navigation.aside {
	width:150px;
	display: inline-block;
	height: auto;
	border-radius:  0 6px 6px 0;
	overflow: hidden;
}

.navigation.aside .container {
	float: left;
	width: 150px;
	border-radius: 0px;
	text-align: center;
	height: auto;
}

.navigation.aside .container ul.navigation-bar > li {
	background: rgb(52, 73, 94);
}

.navigation.aside .container ul.navigation-bar > li > ul > li {
	background: rgba(52, 73, 94, 0.95);
}

.navigation.aside .container ul.navigation-bar > li > ul > li > a {
	color:#FFF;
	font-weight: 300;
	padding: 13px 20px 13px;
	text-decoration:none;
	font-size: 13px;
	display: block;
	border-bottom: rgb(52, 73, 94);
}

.navigation.aside .container ul.navigation-bar > li > ul {
	display: block;
	background: #fff;
}

.navigation.aside .container ul.navigation-bar > li > a {
	width: 108px;
}

.navigation.aside .container ul.navigation-bar > li:first-child > a {
	border-radius: 0;
}

.navigation.aside .container ul.navigation-bar > li:last-child > a {
   border-top: 2px solid #2c3e50;
}

.navigation.aside .container ul.navigation-bar > li > a {
	border-left: 0 !important;
}*/

.navigation ul.navigation-bar > li:hover ul {
	display: block;
}

.navigation ul.navigation-bar.right > li > ul {
	right:0
}

.navigation ul.navigation-bar > li > ul >li {
	padding: 20px 25px 0;
	text-align: left;
	background: rgba(52, 73, 94, 0.985);
}

.navigation ul.navigation-bar.right > li > ul >li {
	text-align: right;
}

.navigation ul.navigation-bar > li > ul >li:first-child {
	border-radius: 6px 6px 0 0;
}

.navigation ul.navigation-bar > li > ul >li:last-child {
	border-radius: 0 0 6px 6px;
	padding-bottom: 20px;
}

.navigation ul.navigation-bar > li > ul > li > a {
	white-space: nowrap;
	color: #fff; font-weight: 700;  text-decoration: none; 
	width: 100%;
	top: 0;
	left: 5px; 
	position: relative;
	border-bottom: none; 
}

